@using Stack.Models
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stack &mdash; one platform for all questions/</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="www.tutorialsbasket.com" />
    <meta name="keywords" content="tutorials,c#,csharp,.net,oops,object oriented programming language,entity framework" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    @*<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>*@
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="~/Content/style-new.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @Styles.Render("~/Content/css11")
    <!-- Modernizr JS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    @*@Scripts.Render("~/bundles/modernizr")*@
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <header role="banner" id="fh5co-header">
        <div class="fluid-container active">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="index.html">
                        @*<span>1000</span> PROJECTS*@
                        @*<img src="~/images/1000projects_logo1.png" style="height:61px;margin-top:-21px" />*@
                    </a>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @*<li class="active"><a href="#" data-nav-section="recentPosts"><span>Recent Posts</span></a></li>
                                <li><a href="#" data-nav-section="recentProjects"><span>Recent Projects</span></a></li>
                                <li><a href="#" data-nav-section="testimony"><span>Testimony</span></a></li>*@
                            <li><a href="#" data-nav-section="footer"><span>Contact</span></a></li>
                            <li><a href="#" data-nav-section="footer"><span>About Us</span></a></li>
                            @if (Session["UserEmail"] != null)
                            {
                                <li><a>@Session["UserEmail"].ToString()</a></li>
                                <li class="call-to-action" style="padding-right:5px"><a class="external" href="/Users/Edit"><span>My Profile</span></a></li>
                                <li class="call-to-action"><a class="external" href="~/Account/Logout" id="btnLogout"><span>Logout</span></a></li>
                            }
                            else
                            {
                                <li class="call-to-action" style="margin-right: 3px;"><a class="external" href="~/Account/Login"><span>Signin</span></a></li>
                                <li class="call-to-action"><a class="external" href="~/Account/Register"><span>Sign up free</span></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="menu-container">
        @Html.Partial("_MenuPartial")
    </div>
    <div role="contentinfo" class="container body-content">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer>
        <div class="bg2 p-t-40 p-b-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <a href="index.html">
                                <img class="max-s-full" src="/magnews2/images/icons/logo-02.png" alt="LOGO">
                            </a>
                        </div>

                        <div>
                            <p class="f1-s-1 cl11 p-b-16">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor magna eget elit efficitur, at accumsan sem placerat. Nulla tellus libero, mattis nec molestie at, facilisis ut turpis. Vestibulum dolor metus, tincidunt eget odio
                            </p>

                            <p class="f1-s-1 cl11 p-b-16">
                                Any questions? Call us on (+1) 96 716 6879
                            </p>

                            <div class="p-t-15">
                                <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-facebook-f"></span>
                                </a>

                                <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-twitter"></span>
                                </a>

                                <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-pinterest-p"></span>
                                </a>

                                <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-vimeo-v"></span>
                                </a>

                                <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-youtube"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                                Popular Posts
                            </h5>
                        </div>

                        <ul>
                            <li class="flex-wr-sb-s p-b-20">
                                <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                    <img src="/magnews2/images/popular-post-01.jpg" alt="IMG">
                                </a>

                                <div class="size-w-5">
                                    <h6 class="p-b-5">
                                        <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                            Donec metus orci, malesuada et lectus vitae
                                        </a>
                                    </h6>

                                    <span class="f1-s-3 cl6">
                                        Feb 17
                                    </span>
                                </div>
                            </li>

                            <li class="flex-wr-sb-s p-b-20">
                                <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                    <img src="/magnews2/images/popular-post-02.jpg" alt="IMG">
                                </a>

                                <div class="size-w-5">
                                    <h6 class="p-b-5">
                                        <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                            Lorem ipsum dolor sit amet, consectetur
                                        </a>
                                    </h6>

                                    <span class="f1-s-3 cl6">
                                        Feb 16
                                    </span>
                                </div>
                            </li>

                            <li class="flex-wr-sb-s p-b-20">
                                <a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
                                    <img src="/magnews2/images/popular-post-03.jpg" alt="IMG">
                                </a>

                                <div class="size-w-5">
                                    <h6 class="p-b-5">
                                        <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
                                            Suspendisse dictum enim quis imperdiet auctor
                                        </a>
                                    </h6>

                                    <span class="f1-s-3 cl6">
                                        Feb 15
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                                Category
                            </h5>
                        </div>

                        <ul class="m-t--12">
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Fashion (22)
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Technology (29)
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Street Style (15)
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    Life Style (28)
                                </a>
                            </li>

                            <li class="how-bor1 p-rl-5 p-tb-10">
                                <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    DIY & Crafts (16)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg11">
            <div class="container size-h-4 flex-c-c p-tb-15">
                <span class="f1-s-1 cl0 txt-center">
                    Copyright © 2018

                    <a href="#" class="f1-s-1 cl10 hov-link1">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved  @*@Stack.Common.Constants.ApplicationNam*@
                    </a>
                </span>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <span class="fas fa-angle-up"></span>
        </span>
    </div>

    <!-- Modal Video 01-->
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    @*<div id="fh5co-footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 to-animate">
                        <h3 class="section-title">About Us</h3>
                        <p>we are into the marked to provide knowledge to the users by writing articles and tutorials.One of the major thing, we are also builded so many projects for acadamic and real business.</p>
                        <p class="copy-right">
                            &copy; @Stack.Common.Constants.ApplicationName <br>All Rights Reserved. <br>
                        </p>
                    </div>
                    <div class="col-md-4 to-animate">
                        <h3 class="section-title">Our Address</h3>
                        <ul class="contact-info">
                            <li><i class="fa fa-map-marker"></i></i>Near Ciber Pear hitech City</li>
                            <li><i class="fa fa-envelope"></i><a href="#">@Stack.Common.Constants.SupportEmail</a></li>
                            <li><i class="fa fa-globe"></i><a href="#">@Stack.Common.Constants.ApplicationName</a></li>
                        </ul>
                        <h3 class="section-title">Connect with Us</h3>
                        <ul class="social-media">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="github"><i class="fa fa-github-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 to-animate">
                        <h3 class="section-title">Drop us a line</h3>
                        <form class="contact-form">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="name" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="message" class="sr-only">Message</label>
                                <textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>*@
    @*@Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)*@
    <script type="text/javascript">
        $("#btnLogout").click(function () {
            //$.get("/Account/Logout");
            window.href = "";
        });
        $("#btnLogin").click(function () {
            //$.get("/Account/Login");
            window.href = "/Account/Login";
        });
    </script>
</body>
</html>
