@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/menu.css" rel="stylesheet" />
@model Stack.Models.ArticlesModel
@using Stack.Models;
@{
    var accountModel = new AccountModel();
    accountModel.GetUsers(Model.LastEditedById);
    var image = accountModel.GetImages(Model.LastEditedById);
}
<div class="container wrapper">
    <!-- Page Content  -->
    <div id="content">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <div id="fh5co-main">
                <div class="container contentdiv-articles">
                    <div class="row clssitemap" style="padding-left: 15px">
                        @Html.ActionLink("Show All Articles", "Index")
                    </div>
                    <div class="row">
                        <div class="col-md-8 padding-top25px content-container">
                            <span style="font-size: 25px;font-weight: bold">@Html.DisplayFor(model => model.ArticleName)</span>
                            <br />
                            <span>By <span style="color: orange">@accountModel.CreatedBy</span> on <span style="color: #ff3b30">@Model.LastEditedDate</span></span>
                            <hr />
                            @{
                                var list = AttachmentsModel.GetFilesList("Articles", Model.ArticleId);
                            }

                            <table class="table table-bordered">
                                @foreach (var item in list)
                                {
                                    <tr>
                                        <td>
                                            @item.AttachmentCategory
                                        </td>
                                        <td>
                                            <a href="/Attachments/DownLoadFile/@item.AttachmentId">Download File</a>
                                        </td>
                                    </tr>
                                }

                            </table>
                            @{
                                var data = AttachmentsModel.GetTimelinePicture("ArticlesCoverPhoto", Model.ArticleId);
                                var img = "";
                                if (data != null)
                                {
                                    img = "data:image/png;base64," + Convert.ToBase64String(data, 0, data.Length);
                                }
                            }
                            <div style="text-align:center">
                                <img alt="IMG" class="article-img" src="@img" />
                            </div>
                            @*<h2>@Html.DisplayFor(model => model.ArticleName)</h2>*@
                            <div class="content">@Html.Raw(Model.Description.ToString().Replace("<h3>", "").Replace("</h3>", ""))</div>
                            <hr />
                            <div class="col-md-12 row-bottom-padded-md" style="padding:30px;">
                                <div class="col-md-3">
                                    <img class="image-cover " src='data:image/png;base64,@Convert.ToBase64String(image.Data, 0, image.Data.Length)' style="width:150px;height:150px" />
                                </div>
                                <div class="col-md-9">
                                    <span style="color: orange; font-size: 26px;font-weight: bold;">@accountModel.CreatedBy</span>
                                    <br />
                                    @if (accountModel.Description != null)
                                    {
                                        @Html.Raw(accountModel.Description.ToString().Replace("<h3>", "").Replace("</h3>", ""))
                                    }
                                    else
                                    {
                                        <span>
                                            @*Having good understanding about .Net and Java technologies.*@
                                        </span>
                                    }
                                </div>
                            </div>

                            <div class="col-md-12 row-bottom-padded-md">
                                <h3 class="mgbt-xs-15 font-semibold" style="font-size:24px"><i class="fa fa-file-text-o mgr-10 profile-icon"></i> Comments</h3>
                                <hr />
                                <div id="div-loginrequired" class="alert alert-danger" style="display:none"> <span class="vd_alert-icon"><i class="fa fa-exclamation-circle vd_red"></i></span><strong>Oh snap!</strong> <a href="/Account/Login" class="alert-link">Please login here </a> and try submitting again. </div>
                                <div class="div-comments-success alert alert-success" style="display:none"> <span class="vd_alert-icon"><i class="fa fa-check-circle vd_green"></i></span><strong>Well done!</strong> You successfully <a href="#" class="alert-link">submitted the comments</a>. </div>
                                <div id="comments-container"></div>
                                @*<textarea id="comments-container" style="width: 700px; border: 1px solid rgb(204, 204, 204); height: 150px;"></textarea>*@
                                @*<input class="btn btn-send-message btn-md btn-submit" style="float: right" value="Submit Comments" type="submit">*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fh5co-sidebox">
                                <div>
                                    <div class="how2 how2-cl4 flex-s-c">
                                        <h3 class="f1-m-2 cl3 tab01-title">
                                            Most Recent Projects
                                        </h3>
                                    </div>

                                    <ul class="p-t-35">
                                        @{
                                            var count = 1;
                                            var projectsModel = new ProjectsModel();
                                        }
                                        @foreach (var item in projectsModel.GetRecentProjects())
                                        {
                                            <li class="flex-wr-sb-s p-b-22">
                                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                                    @count
                                                </div>

                                                <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                                    @item.ProjectName
                                                </a>
                                            </li>
                                            count = count + 1;
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="flex-c-s p-t-8">
                                <a href="#">
                                    <img class="max-w-full" src="~/magnews2/images/banner-02.jpg" alt="IMG">
                                </a>
                            </div>
                            @Html.Partial("_recentQuestions")
                        </div>
                    </div>
                </div>
            </div>
            <div class="fh5co-spacer fh5co-spacer-lg"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    $(function () {
        var commentsArray = [];
        $.ajax({
            type: 'get',
            url: '/Comments/Get?pkid=' + '@Model.ArticleId' + '&category=Article',
            contentType: "application/json;charset=utf-8",
            datatype: 'json',
            async: false,
            success: function (data) {
                commentsArray = JSON.parse(data);
            }
        });
        var accountModelsArray = [{
            id: 1
        }];
        var saveComment = function (data) {
            if ('@Session["UserId"]' != null && '@Session["UserId"]' != '') {
                var comments = {
                    CommentId: 0,
                    PkId: '@Model.ArticleId',
                    Category: 'Article',
                    Comment: data.content,
                    ParentId: data.parent,
                    //Pings:
                    CreatedDate: data.created,
                    LastEditedDate: data.modified,
                    UpvoteCount: data.upvote_count,
                    accountModelHasUpvoted: data.accountModel_has_upvoted
                };
                $.ajax({
                    type: 'post',
                    url: '/Comments/Create',
                    contentType: "application/json;charset=utf-8",
                    datatype: 'json',
                    data: JSON.stringify(comments),//$(commentsdata).serialize(),
                    success: function () {
                        $(".div-comments-success").show();
                    }
                });
                // Convert pings to human readable format
                $(data.pings).each(function (index, id) {
                    var accountModel = accountModelsArray.filter(function (accountModel) { return accountModel.id == id })[0];
                    data.content = data.content;
                });
                return data;
            } else {
                $("#div-loginrequired").show();
            }
        }
        $('#comments-container').comments({
            profilePictureURL: '@Session["ProfilePic"]',
            currentaccountModelId: 1,
            roundProfilePictures: true,
            textareaRows: 1,
            enableAttachments: true,
            enableHashtags: true,
            enablePinging: true,
            getaccountModels: function (success, error) {
                setTimeout(function () {
                    success(accountModelsArray);
                }, 500);
            },
            getComments: function (success, error) {
                //alert(1);
                setTimeout(function () {
                    //    alert(2);
                    success(commentsArray);
                }, 500);
            },
            postComment: function (data, success, error) {
                setTimeout(function () {
                    success(saveComment(data));
                }, 500);
            },
            putComment: function (data, success, error) {
                setTimeout(function () {
                    success(saveComment(data));
                }, 500);
            },
            deleteComment: function (data, success, error) {
                setTimeout(function () {
                    success();
                }, 500);
            },
            upvoteComment: function (data, success, error) {
                setTimeout(function () {
                    success(data);
                }, 500);
            },
            uploadAttachments: function (dataArray, success, error) {
                setTimeout(function () {
                    success(dataArray);
                }, 500);
            },
        });
    });
</script>