@model Stack.Entities.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedById)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedById)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastEditedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastEditedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPopular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPopular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsHeadlines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsHeadlines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItem1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItem.MenuItem1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Master_Status.StatusKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Master_Status.StatusKey)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
