@model IEnumerable<Stack.Entities.News>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover table-bordered margin-top-20px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsHeadlines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPopular)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MenuItem.MenuItem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Master_Status.StatusKey)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsHeadlines)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPopular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuItem.MenuItem1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Master_Status.StatusKey)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
