@model IEnumerable<Stack.DBModels.Articles>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Articles</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEditedDate)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.ArticleCategory.ArticleCategory1)*@
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.CreatedById)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEditedById)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastEditedDate)
                </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.ArticleCategory.ArticleCategory1)*@
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ArticleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })
                </td>
            </tr>
        }

    </table>
</div>