@model Stack.Models.AccountModel
@using CaptchaMvc.HtmlHelpers;
@{
    ViewBag.Title = "Sign up";
    Layout = null;
}
<link href="~/Content/checkbox.css" rel="stylesheet" />
<div class="col-md-12">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "sky-form", role = "form", @id = "frmRegistration" }))
    {
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  "><label id="c-1-7-label" for="c-1-7">First Name </label></div>
                <div class="c-editor c-editor-email">
                    @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @class = "form-control" })
                </div>
                <div class="c-validation validation-FirstName" style="display: none !important">First Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  "><label id="c-1-7-label" for="c-1-7">Last Name </label></div>
                <div class="c-editor c-editor-email">
                    @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @class = "form-control" })
                </div>
                <div class="c-validation validation-LastName" style="display: none !important">Last Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  "><label id="c-1-7-label" for="c-1-7">Email </label></div>
                <div class="c-editor c-editor-email">
                    @Html.TextBoxFor(m => m.Email, new { @id = "regEmail", @placeholder = "Email address", @class = "form-control" })
                </div>
                <div class="c-validation validation-regEmail" style="display: none !important">Email is required.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  "><label id="c-1-7-label" for="c-1-7">Password </label></div>
                <div class="c-editor c-editor-email">
                    @Html.PasswordFor(m => m.Password, new { @id = "regPassword", @placeholder = "Password", @class = "form-control" })
                </div>
                <div class="c-validation validation-regPassword" style="display: none !important">Password is required.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  "><label id="c-1-7-label" for="c-1-7">Confirm Password </label></div>
                <div class="c-editor c-editor-email">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Email address", @class = "form-control" })
                </div>
                <div class="c-validation validation-ConfirmPassword" style="display: none !important">Confirm Password is required.</div>
            </div>
        </div>

        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  "><label id="c-1-7-label" for="c-1-7">Gender</label></div>
                <div class="c-editor c-editor-email">
                    <input type="radio" id="rdMale" name="radio-group-gender" checked>
                    @*@Html.RadioButton("Gender", "Male")*@
                    <label for="rdMale">Male</label>

                    <input type="radio" id="rdFemale" name="radio-group-gender">
                    @*@Html.RadioButton("Gender", "Female")*@
                    <label for="rdFemale">Female</label>
                </div>
                <div class="c-validation validation-Email" style="display: none !important">Gender is required.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                @*<div class="c-label  "><label id="c-1-7-label" for="c-1-7">Gender</label></div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches">
                    <label class="custom-control-label" for="customSwitches">Toggle this switch element</label>
                </div>*@
                <div class="c-editor c-editor-email">
                    <label class="checkbox">
                        <input id="TermsOfConditions" type="checkbox">
                        <i></i>I agree to the Terms of Service
                    </label>
                    <span id="errTermsOfConditions" style="display:none" class="field-validation-error"><span>Please select terms & conditions.</span></span>
                </div>
                <div class="c-validation validation-TermsOfConditions" style="display: none !important">Terms Of Conditions is required.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="c-email c-field  c-col-13 c-sml-col-1 c-span-12 c-sml-span-12" data-field="Email">
                <div class="c-label  ">@*<label id="c-1-7-label" for="c-1-7">Captcha</label>*@</div>
                <div class="c-editor c-editor-email">
                    @Html.Captcha(4)
                </div>
                <div class="c-validation validation-Email" style="display: none !important">Captcha is required.</div>
            </div>
        </div>
        <footer>
            <button type="button" id="btnRegistration" class="btn btn-primary button">Register</button>
        </footer>
    }
</div>
<script type="text/javascript">
    $("#btnRegistration").click(function () {
        var count = 0;
        if ($("#FirstName").val().length == 0) {
            $(".validation-FirstName").parent("div").addClass("c-required c-error");
            $(".validation-FirstName").show();
            count = 1;
        }
        if ($("#LastName").val().length == 0) {
            $(".validation-LastName").parent("div").addClass("c-required c-error");
            $(".validation-LastName").show();
            count = 1;
        }
        if ($("#regEmail").val().length == 0) {
            $(".validation-regEmail").parent("div").addClass("c-required c-error");
            $(".validation-regEmail").show();
            count = 1;
        }
        if ($("#regPassword").val().length == 0) {
            $(".validation-regPassword").parent("div").addClass("c-required c-error");
            $(".validation-regPassword").show();
            count = 1;
        }
        if ($("#ConfirmPassword").val().length == 0) {
            $(".validation-ConfirmPassword").parent("div").addClass("c-required c-error");
            $(".validation-ConfirmPassword").show();
            count = 1;
        }
        if (!$("#TermsOfConditions").prop("checked")) {
            $(".validation-TermsOfConditions").parent("div").addClass("c-required c-error");
            $(".validation-TermsOfConditions").show();
            count = 1;
        }
        if (count == 0) {
            $("#frmRegistration").submit();
        }
    });
    //$("#btnRegister").click(function () {
    //    var valid = true;
    //    if ($("#GenderId").val() == "") {
    //        $("#errGender").show();
    //        valid = false;
    //    } else {
    //        $("#errGender").hide();
    //    }
    //    if ($('#TermsOfConditions').is(":checked") == false) {
    //        $('#frmRegister').valid();
    //        $(".validation-summary-errors").hide();
    //        $("#errTermsOfConditions").show();
    //        valid = false;
    //    } else {
    //        $("#errTermsOfConditions").hide();
    //    }
    //    if (valid == false)
    //        return false;
    //});

    $("#txtEmail").blur(function () {
        $.ajax({
            type: "GET",
            url: "/Account/IsUserAlereadyExists?eMail=" + $(this).val(),
            success: function (data) {
                if (data.toLowerCase() == 'true') {
                    $("#txtEmail").val("");
                    Lobibox.notify('warning', {
                        size: 'mini',
                        showClass: 'fadeInDown',
                        hideClass: 'fadeUpDown',
                        msg: 'User already registered.'
                    });
                }
            }
        });
    });
</script>
<style type="text/css">
    #CaptchaInputText {
        display: block;
        width: 50%;
        padding: 0.5rem 0.75rem;
        /*font-size: 1rem;*/
        /*line-height: 1.25;*/
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        height: 40px;
    }
</style>